<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body style="width: 100%">

<div id="navbar" style="display: inline-flex; width: 100%">
<!--  Main nav items-->
  <div id="navbar-main" style="background-color:#333; font-family:Arial;">
    <a href="#home"
       style="float:left; font-size:16px; color:white; padding:14px 16px; text-decoration:none; display:block;">
      Home
    </a>
    <a href="#news"
       style="float:left; font-size:16px; color:white; padding:14px 16px; text-decoration:none; display:block;">
      News
    </a>
  </div>

<!--    Dropdown-->
  <div id="navbar-dropdown" style="background-color: #22c55e;">
    <details style="float:left; width: 500%">
      <summary
        style="
          font-size:16px;
          color:white;
          padding:14px 16px;
          cursor:pointer;
          list-style:none;
        ">
        Dropdown
      </summary>
       <a href="#"
           style="display:block; padding:12px 16px; color:black; text-decoration:none;">
          Link 1
        </a>
        <a href="#"
            style="display:block; padding:12px 16px; color:black; text-decoration:none;">
            Link 2
        </a>
        <a href="#"
           style="display:block; padding:12px 16px; color:black; text-decoration:none;">
          Link 3
        </a>
    </details>

  </div>

</div>

</body>
</html>
