<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body style="width: 100%">

<details style="padding: 12px 18px; background: #FFFFFF; color: #EA580C; min-width: 200px; text-align: center;">
    <summary style="padding: 12px 18px; background: #EA580C; color: #FFFFFF; border-radius: 10px; border: 1px solid #9A3412; cursor: pointer;">Dropdown Title</summary>
    <div style="padding-top: 6px;">
        <p>Dropown contents Dropown contents Dropown contents Dropown contents Dropown contents
          Dropown contents Dropown contents Dropown contents Dropown contents Dropown contents
          Dropown contents Dropown contents Dropown contents Dropown contents Dropown contents
          Dropown contents Dropown contents Dropown contents Dropown contents Dropown contents
          Dropown contents Dropown contents Dropown contents Dropown contents Dropown contents
          Dropown contents Dropown contents Dropown contents Dropown contents Dropown contents </p>
    </div>
</details>

</body>
</html>
