<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body style="width: 100%">
<div class="enhanceable_content tabs">
        <ul>
            <li><a style="text-decoration: None; color: #431407;" href="#Tab-1">Tab 1</a></li>
            <li><a style="text-decoration: None; color: #431407;" href="#Tab-2">Tab 2</a></li>
            <li><a style="text-decoration: None; color: #431407;" href="#Tab-3">Term 3</a></li>
        </ul>
        <div id="Tab-1">
            <div style="background: #ffffff; border-radius: 14px; padding: 20px; overflow-x: auto; border: 1px solid #fed7aa;">
            Tab 1 contents
            </div>
        </div>
        <div id="Tab-2">
            <div style="background: #ffffff; border-radius: 14px; padding: 20px; overflow-x: auto; border: 1px solid #fed7aa;">
            Tab 2 contents
            </div>
        </div>
        <div id="Tab-3">
            <div style="background: #ffffff; border-radius: 14px; padding: 20px; overflow-x: auto; border: 1px solid #fed7aa;">
            Tab 3 contents
            </div>
        </div>
</div>
</body>
</html>

