<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<!--Heading-->
<h3>Verb Form</h3>

<!--Online Explanations-->
<h4>Explanations</h4>
<a></a>
<a></a>
<a></a>

<!--Online Practice-->
<h4>Practice Activities</h4>
<a></a>
<a></a>
<a></a>

<!--How to translate-->
<h4>How to translate it</h4>
<p>lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
<!--How to form-->
<h4>How to form it</h4>
<ol>
  <li>lorem ipsum</li>
  <li>lorem ipsum</li>
  <li>lorem ipsum</li>
</ol>

<!--Table of forms-->
<table style="border-collapse: collapse;">
  <tbody>
  <tr>
    <th></th>
    <th>jouer</th>
    <th>vendre</th>
    <th>finir</th>
  </tr>
  <tr>
    <td>je</td>
    <td>lorem ipsum</td>
    <td>lorem ipsum</td>
    <td>lorem ipsum</td>
  </tr>
  <tr>
    <td>tu</td>
    <td>lorem ipsum</td>
    <td>lorem ipsum</td>
    <td>lorem ipsum</td>
  </tr>
  <tr>
    <td>il/elle</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>nous</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>vous</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>ils/elles</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>

</body>
</html>
